@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use './variables' as v;


@mixin respond($breakpoint) {
  $key: if(meta.type-of($breakpoint) == string, string.unquote($breakpoint), $breakpoint);
  $size: map.get(v.$breakpoints, $key);
  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` not found in v.$breakpoints.";
  }
}

@mixin respond-between($lower, $upper) {
  $lower-key: if(meta.type-of($lower) == string, string.unquote($lower), $lower);
  $upper-key: if(meta.type-of($upper) == string, string.unquote($upper), $upper);

  $min: map.get(v.$breakpoints, $lower-key);
  $max: map.get(v.$breakpoints, $upper-key);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @if not $min {
      @error "Breakpoint `#{$lower}` not found in v.$breakpoints.";
    }
    @if not $max {
      @error "Breakpoint `#{$upper}` not found in v.$breakpoints.";
    }
  }
}
