@use 'sass:map';
@use './variables' as v;


@mixin respond($breakpoint) {
  $size: map.get(v.$breakpoints, $breakpoint);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` not found in v.$breakpoints.";
  }
}

@mixin respond-between($lower, $upper) {
  $min: map.get(v.$breakpoints, $lower);
  $max: map.get(v.$breakpoints, $upper);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @if not $min {
      @error "Breakpoint `#{$lower}` not found in v.$breakpoints.";
    }
    @if not $max {
      @error "Breakpoint `#{$upper}` not found in v.$breakpoints.";
    }
  }
}
