:root {
  /* MOBILE default */
  /* 360px – smallest mobile layout */
  --page-max-width: 360px;
  --page-width: min(100vw, var(--page-max-width));
  --page-height: 800px;

  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #ececec;

  color: #fff;
  /* background-color: #000; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 430px – large phones */
@media (min-width: 430px) {
  :root {
    --page-max-width: 430px;
    --page-width: min(100vw, var(--page-max-width));
    --page-height: 932px;
  }
}

/* 768px – tablets (portrait) */
@media (min-width: 768px) {
  :root {
    --page-max-width: 768px;
    --page-width: min(100vw, var(--page-max-width));
    --page-height: 1024px;
  }
}

/* 1024px – tablets (landscape) / small desktops */
@media (min-width: 1024px) {
  :root {
    --page-max-width: 1024px;
    --page-width: min(100vw, var(--page-max-width));
    --page-height: 768px;
  }
}

/* 1280px – laptops */
@media (min-width: 1280px) {
  :root {
    --page-max-width: 1280px;
    --page-width: min(100vw, var(--page-max-width));
    --page-height: 800px;
  }
}

/* 1440px – large desktops */
@media (min-width: 1440px) {
  :root {
    --page-max-width: 1440px; /* Figma web platno */
    --page-width: min(100vw, var(--page-max-width));
    --page-height: 1024px;    /* Figma visina (po želji) */
  }
}

/* Global reset koji pomaže dimenzijama */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* *, *::before, *::after { box-sizing: border-box; } */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
